.word-break--normal: { word-break: normal; }
.word-break--break-all: { word-break: break-all; }
.word-break--keep-all: { word-break: keep-all; }
.word-break--inherit: { word-break: inherit; }
.word-break--initial: { word-break: initial; }
.word-break--unset: { word-break: unset; }
