/* Any <length> value */
/*border-bottom-width: 10em;
border-bottom-width: 3vmax;
border-bottom-width: 6px;

/* A keyword */
.border-bottom-width--thin: { border-bottom-width: thin; }
.border-bottom-width--medium: { border-bottom-width: medium; }
.border-bottom-width--thick: { border-bottom-width: thick; }
.border-bottom-width--inherit: { border-bottom-width: inherit; }