.text-orientation--mixed: { text-orientation: mixed; }
.text-orientation--upright: { text-orientation: upright; }
.text-orientation--sideways-right: { text-orientation: sideways-right; }
.text-orientation--sideways-left: { text-orientation: sideways-left; }
.text-orientation--sideways: { text-orientation: sideways; }
.text-orientation--use-glyph-orientation: { text-orientation: use-glyph-orientation; }
.text-orientation--inherit: { text-orientation: inherit; }
.text-orientation--initial: { text-orientation: initial; }
.text-orientation--unset: { text-orientation: unset; }
