.margin-right--auto: { margin-right: auto; }
.margin-right--inherit: { margin-right: inherit; }
.margin-right--initial: { margin-right: initial; }
.margin-right--unset: { margin-right: unset; }
.margin-right--0: { margin-right: 0; }
.margin-right--1: { margin-right: .5rem; }
.margin-right--2: { margin-right: 1rem; }
.margin-right--3: { margin-right: 2rem; }
.margin-right--4: { margin-right: 3rem; }
.margin-right--5: { margin-right: 4rem; }
.margin-right--6: { margin-right: 5rem; }
.margin-right--7: { margin-right: 6rem; }
.margin-right--8: { margin-right: 7rem; }
.margin-right--9: { margin-right: 8rem; }
.margin-right--10: { margin-right: 9rem; }
.margin-right--11: { margin-right: 10rem; }

/*

Syntax
/* <length> values */
/*margin-right: 10px;  /* An absolute length */
/*margin-right: 1em;   /* A length relative to the text size */
/*margin-right: 5%;    /* A margin relative to the nearest block container's width */

/* Keyword values */
/*margin-right: auto;

/* Global values */
/*margin-right: inherit;
margin-right: initial;
margin-right: unset;
Values

<length>
Is a <length> specifying a fixed width: it can be absolute width, e.g. in px, or a width relative to the text size, e.g. in em, or relative to the viewport size, e.g. in vh.
<percentage>
Is a <percentage> relative to the width of the nearest containing block.
auto
Is a keyword indicating that the right margin receives a share of the remaining space, defined mainly by the current layout mode.. If there several auto values for margin-right or margin-right, the calculated space is evenly distributed between all the auto values.

Formal syntax

<length> | <percentage> | auto

*/
