.visibility--visible: { visibility: visible; }
.visibility--hidden: { visibility: hidden; }
.visibility--collapse: { visibility: collapse; }
.visibility--inherit: { visibility: inherit; }
.visibility--initial: { visibility: initial; }
.visibility--unset: { visibility: unset; }
