.width--border-box: { width: border-box; }
.width--content-box: { width: content-box; }
.width--max-content: { width: max-content; }
.width--min-content: { width: min-content; }
.width--available: { width: available; }
.width--fit-content: { width: fit-content; }
.width--auto: { width: auto; }

.width--col-12: { width: 100%; }
.width--col-11: { width: 91.667%; }
.width--col-10: { width: 83.333%; }
.width--col-9: { width: 75%; }
.width--col-8: { width: 66.667%; }
.width--col-7: { width: 58.333%; }
.width--col-6: { width: 50%; }
.width--col-5: { width: 41.667%; }
.width--col-4: { width: 33.333%; }
.width--col-3: { width: 25%; }
.width--col-2: { width: 16.667%; }
.width--col-1: { width: 8.333%; }

.width--inherit: { width: inherit; }
.width--initial: { width: initial; }
.width--unset: { width: unset; }
